<div class="container">
  <%if @is_cloudy%>
  <%= image_pack_tag('media/images/real_cloud1.png', class: "cloud1") %>
  <%= image_pack_tag('media/images/real_cloud2.png', class: "cloud2") %>
  <%end%>
  <%if @is_clear%>
  <%= image_pack_tag('media/images/sky_apple.png', class: "image") %>
  <%= image_pack_tag('media/images/air_plain.png', class: "air-plain") %>
  <%else%>
  <%= image_pack_tag('media/images/winter_apple_skelton.png', class: "image") %>
  <%end%>
  <%= image_pack_tag('media/images/real_apple_kurinuki.png', id: "appleClicked", class: "real-apple image") %>
  <%if @is_cherry_bllosoming%>
  <%= image_pack_tag('media/images/cherry_blossom.gif', class: "image")%>
  <%end%>
  <%if @is_raining%>
  <div class="rains">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
  </div>
  <%end%>
  <%if @is_snowing%>
  <div class="snows">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
  </div>
  <%end%>
  <div class="api-test">
    <%=%>
  </div>
</div>

<script>
  const realApple = document.getElementById('appleClicked');

  realApple.addEventListener('mousedown', appearApple);
  function appearApple(e) {
    e.target.style.opacity = 1;
  }
  realApple.addEventListener('mouseup', disAppearApple);
  function disAppearApple(e) {
    e.target.style.opacity = 0;
  }
</script>

